*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1.8;
}

h1 {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 1;
}

.container {
  max-width: 70em;
  margin: 0 3rem;
}
